
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(41, 41, 41);
  
        
    }


#menu-h{
    list-style-type: none;
    padding: 0;
    background-color:rgb(255, 221, 0);
    text-align: center;
}

#menu-h li{
    display: inline;
}

#menu-h li a{
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    color: black;
    transition:background 0.6s;
    font-family: Arial, Helvetica, sans-serif;
}

#menu-h li a:hover{
    background-color: white;
}

h1{
    color: white;
    text-align: center;
}

.mrc{
    display: inline-grid; 
      
}
.mrc p{
    color: white;
    display: inline;
}
.br p{
    color:white;
}



.br img{
    max-width: 50px;

}
.br span{
    color:white ;
    display: inline;
    margin: auto;
   
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 480px;
    width: 480px;
 

}
.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    align-items: center;
}

img{
    object-fit: cover;
    height: 500px;
    width: 500px;
}

footer{
    background-color: rgb(129, 127, 127);
    padding: 5em;
    padding-bottom: 40px;
    border-top: 5px solid rgb(255, 221, 0);
    font-family: Arial, Helvetica, sans-serif;
}

footer img{
    width: 180px;
}

footer h2, footer p, footer a, footer span{
    color: #d1d1d1;
}

footer h2{
    font-weight: 400;
}

footer a{
    text-decoration: none;

}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
}

.footer-box {
    width: 31%;
    padding: 1%;
    float: left;
}

footer .wrapper:after{
    clear: both;
    content: "";
    display: block;
}

.company-footer{
    width: ;
}

.company-footer h2{
    margin-top: 0px;
}

.company-footer h2,.company-footer p{
    margin-bottom: 25px;
}

.footer-list li{
    margin-bottom: 3px;
}

.footer-list a{
    transition: .5s;
}

.footer-list a:hover{
    color: #fff;
}

.footer-list li:after{
    clear: both;
    content: "";
    display: block;
}

.insta{
    position: relative;
    height: 25px;
    width: 25px;


}

.estilos-footer{
    margin-top: 0px;
    ;
}





